{% extends "layout.html" %}
{% block content %}
    <h1 class="text-2xl font-bold mt-6">New link</h1>
    <div class="divider"></div>
    <form method="post" class="flex flex-col gap-4">
        {% csrf_token %}
        {% for field in form %}
            <div class="flex flex-col gap-2">
                <label for="{{ field.id_for_label }}" class="font-bold">{{ field.label }}</label>
                {{ field }}
                <div class="error">
                    {% for error in field.errors %}
                        {% include "links/partials/_form_error.html" with error=error %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
{% endblock content %}
