{% extends "layout.html" %}
{% block extra_head %}
    <style>
.card.delete {
  opacity: 0;
  transition: opacity .3s ease-out;
}
    </style>
{% endblock extra_head %}
{% block content %}
    <article class="grid grid-cols-1 gap-6">
        <div class="flex justify-end">
            <a class="btn btn-xl btn-secondary" href="{% url 'link_create' %}">
                <svg class="w-6 h-6"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
                </svg>
                Add link
            </a>
        </div>
        <div id="link-list"
             hx-get="{{ request.get_full_path }}"
             hx-disinherit="hx-select"
             hx-select="#link-list"
             hx-swap="outerHTML"
             hx-select-oob="#pagination:outerHTML"
             hx-trigger="refresh-link-list from:body"
             class="grid gap-6">
            {% for link in link_list %}
                {% include "links/partials/_link_detail.html" %}
            {% empty %}
                <div>No links found.</div>
            {% endfor %}
        </div>
    </article>
    <div id="pagination" class="pagination flex mt-4">
        <div class="join mx-auto grid grid-cols-3">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="join-item btn">«</a>
            {% else %}
                <button disabled class="join-item btn disabled:bg-gray-100">«</button>
            {% endif %}
            <button disabled
                    class="join-item btn disabled:text-base-content disabled:bg-gray-50">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </button>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="join-item btn">»</a>
            {% else %}
                <button disabled class="join-item btn disabled:bg-gray-100">»</button>
            {% endif %}
        </div>
    </div>
{% endblock content %}
