{% extends "layout.html" %}
{% block content %}
    <!-- <article class="flex flex-col space-y-7"> -->
    <article class="grid grid-cols-1 gap-6">
        {% for link in links %}
            {% include "links/partials/_link.html" %}
        {% empty %}
            <div>No links found.</div>
        {% endfor %}
    </article>
    <div class="pagination flex mt-4">
        <div class="join mx-auto grid grid-cols-3">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="join-item btn btn-md">«</a>
            {% endif %}
            <button disabled
                    class="join-item btn disabled:text-base-content disabled:bg-gray-50">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </button>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                   class="join-item btn btn-md">»</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
