{% extends "links/partials/_link.html" %}
{% load widget_tweaks %}
{% block editable %}
    <h3 class="prose text-xs">Notes</h3>
    <form id="update-{{ link.id }}" hx-post="{% url 'link_update' link.id %}">
        {% csrf_token %}
        {% render_field form.notes class+="textarea leading-normal textarea-bordered w-full my-1 px-2" %}
        <h3 class="prose text-xs">Tags</h3>
        {% render_field form.tags class+="input input-bordered w-full my-1 px-2" %}
    </form>
{% endblock editable %}
{% block buttons %}
    <button hx-get="{% url 'link_detail' link.id %}"
            class="btn btn-primary btn-outline">Cancel</button>
    <button type="submit" form="update-{{ link.id }}" class="btn btn-primary">Save</button>
{% endblock buttons %}
{% block actions %}
{% endblock actions %}
