{% extends "account_base.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block container_extra_classes %}
    max-w-sm
{% endblock container_extra_classes %}
{% block heading_extra_classes %}
    text-center
{% endblock heading_extra_classes %}
{% block alert %}
    {% if user.is_authenticated %}
        <div class="alert">{% include "account/snippets/already_logged_in.html" %}</div>
    {% endif %}
{% endblock alert %}
{% block heading %}
    {% trans "Password Reset" %}
{% endblock heading %}
{% block message %}
    <p class="prose prose-slate mt-4">
        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
    </p>
{% endblock message %}
{% block actions %}
    <button type="submit" class="btn btn-primary mt-5">Reset my password</button>
{% endblock actions %}
