{% extends "account_base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block heading %}
    {% if token_fail %}
        {% trans "Bad Token" %}
    {% else %}
        {% trans "Password Reset" %}
    {% endif %}
{% endblock heading %}
{% block message %}
    {% if token_fail %}
        <p class="prose prose-slate mt-4">
            {% url 'account_reset_password' as passwd_reset_url %}
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="link link-secondary link-hover" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% endif %}
{% endblock message %}
{% block container_extra_classes %}
    {% if not token_fail %}max-w-sm{% endif %}
{% endblock container_extra_classes %}
{% block heading_extra_classes %}
    {% if not token_fail %}text-center{% endif %}
{% endblock heading_extra_classes %}
{% block actions %}
    <button type="submit" class="btn btn-primary mt-5">{% trans "Change Password" %}</button>
{% endblock actions %}
{% block form %}
    {% if token_fail %}
        {% with form=None %}{{ block.super }}{% endwith %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock form %}
