<script>
AlpineData('TagsWidget', function(){
  return {
      tags: [],
      tagToAdd: '',
      pattern: /[^A-Za-z0-9\-]/g,
      selectedSuggestion: 0,
      numSuggestions: 0,
      isDropdownOpen: false,
      init: function() {
        const initialValue = this.$refs.input.value;
        if (!initialValue) {
          return;
        }
        initialValue.split(',').forEach(tag => this.tags.push(tag.trim()));
      },
      addTag: function() {
        if (!this.isDropdownOpen) {
          return;
        }
        this.tagToAdd = this.$refs.dropdown.querySelector(`[data-suggestion='${this.selectedSuggestion}']`).dataset.value;
        this.isDropdownOpen = false;
        if (this.tags.indexOf(this.tagToAdd) > -1 || !this.tagToAdd) {
          return;
        }
        this.tags.push(this.tagToAdd);
        this.tagToAdd = '';
        this.$dispatch('addtag')
      },
      removeTag: function(tag) {
        this.tags.splice(this.tags.indexOf(tag), 1);
      },
      previousSuggestion: function(event){
          this.selectedSuggestion--;
          if (this.selectedSuggestion < 0) {
            this.selectedSuggestion = this.numSuggestions - 1;
          }
      },
      nextSuggestion: function(event){
          this.selectedSuggestion++;
          if (this.selectedSuggestion > this.numSuggestions - 1) {
            this.selectedSuggestion = 0;
          }
      },
      filterInput: function(event) {
        this.tagToAdd = event.target.value.replace(this.pattern, '');
      },
      afterHTMXSwap: function(event){
        this.numSuggestions = this.$refs.dropdown.querySelectorAll('[data-suggestion]').length;
        if (this.tagToAdd) {
          this.isDropdownOpen = true;
        }
      },
      beforeSendHTMXRequest: function(){
        this.selectedSuggestion = 0;
      }
    }
});
</script>
<div x-data="TagsWidget">
    <div class="dropdown w-full">
        <input {% include "django/forms/widgets/attrs.html" %}
               x-model="tagToAdd"
               @keydown.up.prevent="previousSuggestion"
               @keydown.down.prevent="nextSuggestion"
               @keydown.tab.prevent="nextSuggestion"
               @keydown.enter.prevent="addTag"
               @input="filterInput"
               @focus="isDropdownOpen=true"
               hx-get=" {% url 'widget_tags_search' %}"
               hx-trigger="input delay:300ms, addtag from:closest [x-data='TagsWidget'] delay:100ms, intersect once"
               hx-target="next [x-ref='dropdown']"
               hx-swap="innerHTML"
               hx-include="this"
               @htmx:before-send.camel="beforeSendHTMXRequest"
               name="q"
               autocomplete="off"
               placeholder="Add tag...">
    </input>
    <ul tabindex="-1"
        x-ref="dropdown"
        class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
        :class="{'hidden': isDropdownOpen == false}"
        @htmx:after-settle.camel="afterHTMXSwap">
        {% include "links/widgets/_tags_suggestions.html" %}
    </ul>
</div>
<input x-ref="input"
       x-model="tags"
       type="hidden"
       name="{{ widget.name }}"
       {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}>
</input>
<div class="flex flex-wrap gap-1 my-2">
    <template x-for="tag in tags">
        <div class="badge bg-gray-200">
            <span class="first-letter:uppercase" x-text="tag"></span>
            <svg @click="removeTag(tag)"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 class="inline-block w-4 h-4 stroke-current cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </div>
    </template>
</div>
</div>
