{% load link_extras %}
<script>
AlpineData('Tags', function(){
  return {
      tags: [],
      tagToAdd: '',
      pattern: /[^A-Za-z0-9\-]/g,
      suggestionEls: [],
      selectedSuggestion: '',
      selectedIdx: 0,
      init: function() {

      this.$watch('tags', (value, oldValue) => {
        if (oldValue.length > value.length) {
          this.$dispatch('removetag');
        }else{
          this.$dispatch('addtag');
        }
      });

        this.$watch('selectedIdx', ()=>{
          this.focusSelectedSuggestion();
        });

        const initialValue = this.$refs.input.value;
        if (initialValue) {
          initialValue.split(',').forEach(tag => this.tags.push(tag.trim()));
        }
      },
      addTag: function() {
        const selectedEl = this.$refs.list.querySelector(`[data-suggestion='${this.selectedIdx}'`);
        if (!selectedEl) {
          return
        }
        this.selectedSuggestion = selectedEl.dataset.value;
        if (this.tags.includes(this.selectedSuggestion)) {
          return;
        }
        this.tags.push(this.selectedSuggestion);
        this.tagToAdd = '';
        this.$refs.search.focus();
      },
      removeTag: function(tag) {
        this.tags.splice(this.tags.indexOf(tag), 1);
      },
      filterInput: function(event) {
        this.tagToAdd = event.target.value.replace(this.pattern, '');
      },
      previousSuggestion: function(event){
          this.selectedIdx--;
          if(this.selectedIdx < 0) {
            this.selectedIdx = this.numSuggestions;
          }
      },
      nextSuggestion: function(event){
          this.selectedIdx++;
          if(this.selectedIdx >= this.numSuggestions) {
            this.selectedIdx = 0;
          }
      },
      afterHTMXSwap: function(event){
        this.numSuggestions = Array.from(this.$refs.list.querySelectorAll('li > [data-suggestion]')).length - 1;
      },
      focusSelectedSuggestion: function(){
        this.$refs.list.querySelector(`[data-suggestion='${this.selectedIdx}'`).scrollIntoView({block: 'nearest'});
      },
      configRequest: function(event){
        this.$root.querySelectorAll('input[data-param]').forEach((el)=>{
          if (el.value) {
            event.detail.parameters[el.dataset.param] = el.value;
          }
        });
        this.selectedIdx = 0;
      }
    }
});
</script>
<div x-data="Tags" class="flex gap-1 items-center">
    <h3 class="prose text-xs">Tags</h3>
    <div class="flex flex-wrap gap-1 my-2">
        <template x-for="tag in tags">
            <div class="badge bg-gray-200 overflow-hidden pr-8 relative">
                <span class="first-letter:uppercase" x-text="tag"></span>
                <div @click="removeTag(tag)"
                     class="btn bg-gray-300 btn-ghost absolute right-0 origin-right p-1 rounded-none">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         class="w-4 h-4 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </div>
            </div>
        </template>
    </div>
    <div class="dropdown">
        <div tabindex="0"
             role="button"
             class="btn btn-xs square"
             @focus="$refs.search.focus()"
             @blur="tagToAdd=''">+</div>
        <div tabindex="-1"
             class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <input x-ref="search"
                   type="text"
                   class="input input-bordered input-sm mb-2"
                   placeholder="search tag"
                   data-param="q"
                   x-model="tagToAdd"
                   @keydown.up.prevent="previousSuggestion"
                   @keydown.down.prevent="nextSuggestion"
                   @keydown.tab.prevent="nextSuggestion"
                   @keydown.enter.prevent="addTag"
                   @input="filterInput"
                   hx-get="{% url 'tag_list' %}"
                   hx-trigger="input delay:300ms, focus from:previous [role='button'], addtag from:closest [x-data='Tags'] delay:100ms"
                   hx-target="next ul"
                   hx-swap="innerHTML"
                   autocomplete="off"
                   @htmx:config-request.camel="configRequest" />
            <ul x-ref="list"
                class="max-h-96 overflow-y-auto"
                @htmx:after-settle.camel="afterHTMXSwap">
                <li>loading tags...</li>
            </ul>
        </div>
    </div>
    <input x-ref="input"
           x-model="tags"
           type="hidden"
           name="{{ field_name }}"
           data-param="{{ field_name }}"
           value="{{ initial_value|stringformat:'s' }}" />
    <input type="hidden" data-param="create" value="{{ create_tags|lower }}" />
</div>
