{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A place to keep your links">
        <meta name="author" content="danielnieto">
        <meta name="keywords"
              content="bookmarking, save links, link management, online bookmarks, URL organizer, web links storage, bookmark manager, link saver, URL archive, internet favorites">
        <title>
            {% block head_title %}
                Linktrove
            {% endblock head_title %}
        </title>
        <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet">
        <script src="{% static 'vendor/htmx@2.0.4.min.js' %}"></script>
        <script defer src="{% static 'vendor/alpine@3.14.8.min.js' %}"></script>
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body hx-boost="true"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          class="flex flex-col min-h-screen justify-center">
        {% block body %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
