{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A place to keep your links">
        <meta name="author" content="danielnieto">
        <meta name="keywords"
              content="bookmarking, save links, link management, online bookmarks, URL organizer, web links storage, bookmark manager, link saver, URL archive, internet favorites">
        <title>Linktrove</title>
        <link href="{% static 'dist/output.css' %}" rel="stylesheet">
    </head>
    <body>
        {% block 'content' %}
        {% endblock 'content' %}
    </body>
</html>
