{% for tag in tags %}
    <li>
        <a data-value="{{ tag.name }}"
           {% if forloop.first %}class="active"{% endif %}
           @click="selectedSuggestion = $el.dataset.value; addTag(); $refs.search.focus()">{{ tag.name }}</a>
    </li>
{% empty %}
    {% if can_add_new_tag %}
        <li>
            <a data-value="{{ tag_to_add }}" class="active" @click="addTag()">
                <span>Create "{{ tag_to_add }}"</span>
            </a>
        </li>
    {% else %}
        <li>
            <a>Tag not found</a>
        </li>
    {% endif %}
{% endfor %}
