{% for tag in tags %}
    <li>
        <a data-suggestion="{{ forloop.counter0 }}"
           data-value="{{ tag.name }}"
           :class="{'active': selectedSuggestion == $el.dataset.suggestion}"
           @click="selectedSuggestion = parseInt($el.dataset.suggestion); addTag()">{{ tag.name }}</a>
    </li>
{% empty %}
    {% if request.GET.create == 'true' %}
        <template x-if="tagToAdd && !tags.includes(tagToAdd)">
            <li>
                <a data-suggestion="0"
                   :data-value="tagToAdd"
                   class="active"
                   @click="selectedSuggestion = 0; addTag()">
                    <span>
                        Create "<span class="px-0 mx-0" x-text="tagToAdd"></span>"
                    </span>
                </a>
            </li>
        </template>
    {% else %}
        <li>
            <a>Tag not found</a>
        </li>
    {% endif %}
{% endfor %}
